#container{
  margin-top:20px ;
  border: 2px solid gray;
  border-radius: 5px;
}
#myname{
display: flex;
justify-content: center;
align-items: center;
border: 2px solid gray;
border-right: hidden;
border-top: hidden;
border-left: hidden;
  height: 50px;
}
#users{
  height: 1120px;
  border: 2px solid gray;
  border-left: hidden;
  border-top: hidden;
  border-bottom: hidden;
  overflow: scroll;

}
#user-image-border{
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
#display{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
#user-image-border2{
  width: 300px;
  border-radius: 100%;
}
#profile{
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-top: 250px;
}
#about{
 margin-left: 80px;
 margin-top: 10px;
 font-size: 20px;
}
#display:hover{
  background-color: rgb(244, 240, 240);
}